body{
  background-color: grey;
  color: green;
  font-size: 23px;
}
.header img{
  height:150px;
  width:150px;
  border-radius: 50%;
  margin-left: 0;
  padding-left: 0;
  float:left;
}
.header{
  background-color: #72f284;
  height:auto;
  width:100%;
  text-decoration: underline;
  text-decoration-style:double;
  font-size: 32px;
  margin-left: 0;
  padding-left: 0;
  position:fixed;
}
span{
  text-emphasis-style: triangle;
  text-emphasis-color: yellow;
  background-color: #1c5a31;
  -webkit-background-clip: text;
}
h1{
  height:auto;
  width:auto;
  background:linear-gradient(90deg, red,tomato,orange,yellow,blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
  padding: 20px;
  padding-left: 5%;
  border-radius: 5px;
  text-decoration: underline;
  //font-family: Lucida Calligraphy;
  float:center;
}
td img{
  transition: transform .2s ease-out;
  object-fit: cover;
  padding:20px;
  height: 60%;
  width: 60%;
  //
  margin: 30px;
}
td{
  padding: 10px;
  max-width: 350px;
  max-height: 300px;
  background-color: grey;
}
td:hover{
  border: 1px solid #1500;
  background-image: linear-gradient(90deg,#0d9fa0,#27eff1);
  object-position:5px 20px;
  color:tomato;
  border: 1px solid #500;
}
td img:hover{
  //border: 1px solid #500;
  transform: scale(2.0);
  object-position:10px -10px;
  border-radius: 10%;
  object-fit: cover;
}
table{
  margin-left: 10%;
}

button{
  //float:right;
  margin-right: 20%;
  background-color: skyblue;
  color: crimson;
}
td img:hover{
  object-fit: cover;
  border-radius: 10px;
}
.page_nav{
  height: auto;
  width:60%;
  background-color: black;
  float:left;
  //margin: 15px;
  margin-top: -10%;
  list-style: none;
  border-radius: 2%;
  padding-left: 50%;
  padding: 3%;
  display: flex;
  position: fixed;
  opacity:90%;
}

a{
  text-decoration: none;
  color:green;
  padding: 15px;
  min-height: 20px;
}
a:hover{
  font-size: 20px;
  background-color: blue;
  background-image: linear-gradient(120deg, tomato,crimson,yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
label strong{
  color:blue;
  cursor: pointer;
  //display: inline-block;
  border: 1px solid #500;
}

.u_details{
  background-image: url("../bg4.jpg");
  object-fit:scale-down;
  filter:blur(-3px);
  color: rgb(6, 156, 237);
  width: 50%;
  background-repeat: no-repeat;
  margin: 5%;
  height: auto;
  margin-left: auto;
  margin-right:auto;
  border-radius: 7%;
  padding: 5%;
  font-size: 27px;
  font-family: Helvetica;
}

.comment{
  cursor: move;
  background-color: lightgreen;
  float: right;
  margin-left: 70%;
  margin-right: 10px;
  color:yellow;
  height: auto;
  padding: 10px;
  border-radius: 5%;
  margin-top: 25%;
  position: fixed;
  opacity: 80%;
}

.comment:hover{
  opacity: 100%;
}
textarea{
  overflow: hidden;
  height:  80px;
  width: 200px;
  resize: none;
  border-radius: 20%;
  padding: 10px;
  padding-right: 20px;
}
footer{
  position: sticky;
  border: 2px solid  crimson;
  border-radius: 5%;
  list-style: none;
  background-color: skyblue;
  width: 100%;
  height: auto;
  padding: 20px;
}
.desc{
  background-color: white;
  padding: 7%;
  margin: 15%;
  margin-top: 50px;
  color:tomato;
  border-radius: 8%;
  font-size: 32px;
}
marquee{
  background-color: aquamarine;
  margin: 3%;
  padding: 6px;
  border: 5px solid crimson;
  border-radius: 5%;
}
.label{
  background-color: #fff;
  border: 1px solid #666;
  //color: #000;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 15px 15px;
  cursor: pointer;
}
fieldset{
  background-color: rgb(22, 165, 209);
}
legend{
  background-color: greenyellow;
  color: red;
  border-radius: 7%;
  border: 3px solid orange;
  margin-left: auto;
  margin-right: auto;
}
button{
  font-size: 28px;
  padding: 3%;

}